*

!/build
!/clean
!/CMakeLists.txt
!/configure
!/.gitignore
!/install
!/Readme.md
!/.uncrustify

!/3rdParty

!/cmake
!/cmake/modules
!/cmake/modules/*.cmake

!/configuration
!/configuration/Fluid
!/configuration/Petsc
!/configuration/Precice
!/configuration/Report
!/configuration/Report/js
!/configuration/Structure
!/configuration/Petsc/*.conf
!/configuration/Fluid/*.xml
!/configuration/Precice/*.xml
!/configuration/Precice/*.py
!/configuration/Report/*.html
!/configuration/Report/*.csv
!/configuration/Report/js/*.js
!/configuration/Structure/*.xml

!/documentation
!/documentation/development
!/documentation/development/backlogs
!/documentation/development/backlogs/Bugs.md
!/documentation/development/backlogs/Features.md
!/documentation/development/backlogs/KnowledgeAcquisition.md
!/documentation/development/backlogs/TechnicalWork.md
!/documentation/user
!/documentation/user/BuildGuide.md
!/documentation/user/UsageGuide.md

!/components
!/components/Fluid
!/components/Fluid/EntryPoint
!/components/Fluid/Simulation
!/components/Fluid/Simulation/GhostLayer
!/components/Fluid/Simulation/GhostLayer/Private
!/components/Fluid/Simulation/ImmersedBoundary
!/components/Fluid/Simulation/ImmersedBoundary/BodyForce
!/components/Fluid/Simulation/ImmersedBoundary/Fadlun
!/components/Fluid/Simulation/ImmersedBoundary/FeedbackForcing
!/components/Fluid/Simulation/Private
!/components/Fluid/Simulation/VtkOutput
!/components/Fluid/Simulation/XdmfHdf5Output
!/components/Fluid/Simulation/XdmfHdf5Output/Private
!/components/Structure
!/components/Fluid/**/*.cpp
!/components/Fluid/**/*.hpp
!/components/Structure/**/*.cpp
!/components/Structure/**/*.hpp

*.*.*
*.*.*.*
!d3.v3.min.js

!/.ycm_extra_conf_template.py
