*

!CMakeLists.txt
!Readme.md
!.gitignore
!.uncrustify

!/3rdParty
!/3rdParty/TinyXml2
!/3rdParty/TinyXml2/tinyxml2.cpp
!/3rdParty/TinyXml2/tinyxml2.h

!/cmake
!/cmake/modules
!/cmake/modules/*.cmake

!/configuration
!/configuration/*.xml
!/configuration/petsc_commandline_arg

!/documentation
!/documentation/development
!/documentation/development/backlogs
!/documentation/development/backlogs/Bugs.md
!/documentation/development/backlogs/Features.md
!/documentation/development/backlogs/KnowledgeAcquisition.md
!/documentation/development/backlogs/TechnicalWork.md
!/documentation/user
!/documentation/user/BuildGuide.md

!/source
!/source/**
!/source/**
!/source/**/*.c
!/source/**/*.cpp
!/source/**/*.h
!/source/**/*.hpp

*.*.*
*.*.*.*
