*

!/compile
!/clean
!/CMakeLists.txt
!/configure
!/.gitignore
!/Readme.md
!/.uncrustify

!/3rdParty
!/3rdParty/Uni
!/3rdParty/Uni/**/*

!/cmake
!/cmake/modules
!/cmake/modules/*.cmake

!/scenarios
!/scenarios/*
!/scenarios/**/*.py
!/scenarios/**/*.xml
!/scenarios/**/*.conf

!/documentation
!/documentation/
!/documentation/BuildGuide.md
!/documentation/UsageGuide.md

!/source
!/source/EntryPoint
!/source/Simulation
!/source/Simulation/GhostLayer
!/source/Simulation/GhostLayer/Private
!/source/Simulation/ImmersedBoundary
!/source/Simulation/ImmersedBoundary/BodyForce
!/source/Simulation/ImmersedBoundary/Fadlun
!/source/Simulation/ImmersedBoundary/FeedbackForcing
!/source/Simulation/Private
!/source/Simulation/VtkOutput
!/source/Simulation/XdmfHdf5Output
!/source/Simulation/XdmfHdf5Output/Private
!/sourceture
!/source/**/*.[ch]pp

!/tests
!/tests/LrzMacCluster
!/tests/LrzMacCluster/*.sh
!/tests/LrzMacCluster/*.py
!/tests/LrzMacCluster/Fluid
!/tests/LrzMacCluster/Structure
!/tests/LrzMacCluster/Petsc
!/tests/LrzMacCluster/Precice
!/tests/LrzMacCluster/Fluid/*.xml
!/tests/LrzMacCluster/Structure/*.xml
!/tests/LrzMacCluster/Petsc/*.conf
!/tests/LrzMacCluster/Precice/*.xml
!/tests/LrzMacCluster/Precice/*.py

!/tools
!/tools/Report
!/tools/Report/*.csv
!/tools/Report/*.html
!/tools/Report/js
!/tools/Report/js/*.js
!/tools/RigidBody
!/tools/RigidBody/scenarios
!/tools/RigidBody/scenarios/*.xml
!/tools/RigidBody/source
!/tools/RigidBody/source/*.[ch]pp

*.*.*
*.*.*.*
!d3.v3.min.js

!/.ycm_extra_conf_template.py
!/.clang-format_template.py
